:root {
	--inner-width: 720px;
}

.todo {
	width: 720px;
	margin: 0 auto;
}

.todoTitle {
	font-size: 40px;
}

.todoWidget {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width:100%;
	height:48px;
	&>.checkboxWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&>.mid {
		display: flex;
		align-items: center;
	}
	&>.right {
		height:100%;
		display: flex;
		align-items: center;
		padding: 8px;
		gap: 8px;
		&>*{
			outline: none;
			border: none;
			width: 32px;
			height: 32px;
		}
		&>.edit {
			background-color: #ccc;
			&.active {
				background-color: #fc0;
			}
		}
		&>.delete {
			background-color: #c33;
		}
	}
	&.even {
		background-color: #fc0;
	}
	&.odd {
		background-color: #cf0;
	}
	&.checked {
		background-color: #999;
	}
}